@font-face 
    font-family: 'Forum'
    src: url('../../fonts/Montserat/Forum-Regular.ttf') format('truetype')

$forum: 'Forum'
    
.container
    width: 100vw
    display: flex
    flex-direction: column

    justify-content: center
    align-items: center

    .innerContainer
        display: flex
        flex-direction: column

        justify-content: center

        align-items: flex-start

        width: 1620px

        .title  
            font-family: $forum
            font-size: 45px

        .items
            display: flex
            flex-direction: row

            justify-content: space-between
            align-items: center

            flex-wrap: wrap
            width: 100%

@media screen and ( max-width:  1660px)
    .container
        .innerContainer
            width: 1200px


@media screen and ( max-width:  1230px)
    .container
        .innerContainer
            width: 900px


            .title
                font-size: 35px
                margin-top: 50px

@media screen and ( max-width:  905px)
    .container
        .innerContainer
            width: 540px

@media screen and ( max-width:  500px)
    .container
        .innerContainer
            width: 350px

            .title
                font-size: 25px
    
    