@font-face 
    font-family: 'Forum'
    src: url('../../fonts/Montserat/Forum-Regular.ttf') format('truetype')

$forum: 'Forum'
    
.container
    display: flex
    flex-direction: column

    justify-content: center
    align-items: center

    width: 100vw

    .innerContainer
        display: flex
        flex-direction: column

        justify-content: center
        align-items: flex-start

        width: 1620px


        .title
            font-family: $forum
            font-size: 45px


        .items
            display: flex
            flex-direction: row

            justify-content: flex-start
            align-items: center

            flex-wrap: wrap

            gap: 30px
            width: 100%

@media screen and ( max-width:  1660px)
    .container
        .innerContainer
            width: 1220px

@media screen and ( max-width:  1220px)
    .container
        .innerContainer
            width: 900px

            .title
                text-align: center
                width: 100%
                margin-top: 50px

@media screen and ( max-width:  920px)
    .container
        .innerContainer
            width: 540px

            .items
                justify-content: center

@media screen and ( max-width:  540px)
    .container
        .innerContainer
            width: 350px

            .title
                font-size: 30px
    
    

    
    
