@font-face 
    font-family: 'Montserrat'
    src: url('../../fonts/Montserat/Montserrat-Regular.ttf') format('truetype')

$montserrat_Header: 'Montserrat' 

@font-face 
    font-family: 'Forum'
    src: url('../../fonts/Montserat/Forum-Regular.ttf') format('truetype')

$forum: 'Forum'
    
.container
    display: flex
    flex-direction: column

    justify-content: center
    align-items: center

    width: 100vw

    .innerContainer
        display: flex
        flex-direction: column

        justify-content: flex-start
        align-items: flex-start

        width: 1620px

        .path
            display: flex
            flex-direction: row

            justify-content: space-between
            width: 404px
            margin-top: 100px
            align-items: center

            p
                font-family: $montserrat_Header
                font-size: 22px

        
        .title
            font-family: $forum
            font-size: 45px
            margin-top: 80px


        .alphabet
            display: flex
            flex-direction: row

            justify-content: space-between
            align-items: flex-start
            margin-top: 70px

            flex-wrap: wrap
            gap: 80px

            .block
                display: flex
                flex-direction: column

                justify-content: center
                align-items: flex-start

                .mainLetter
                    margin-bottom: 25px
                    font-family: $forum
                    font-size: 35px

                
                .link
                    font-family: $montserrat_Header
                    font-size: 22px
                    margin-top: 15px

                    cursor: pointer


        .info1
            display: flex
            flex-direction: row

            justify-content: space-between
            align-items: center
            margin-top: 100px

            .right
                display: flex
                flex-direction: column

                justify-content: flex-start
                align-items: flex-start

                

                .title
                    font-family: $forum
                    font-size: 45px

                    margin-top: 0

                .par1, .par2
                    font-family: $montserrat_Header
                    font-size: 22px
                    margin-top: 40px
                    width: 933px


                .par2
                    margin-top: 34px


        .info2
            display: flex
            flex-direction: row

            justify-content: space-between
            align-items: center
            margin-top: 100px

            width: 100%
            .right
                display: flex
                flex-direction: column

                justify-content: flex-start
                align-items: flex-end

                

                

                .title
                    font-family: $montserrat_Header
                    font-size: 22px
                    margin-top: 0
                    font-weight: bolder

                .par1, .par2, .par3
                    font-family: $montserrat_Header
                    font-size: 22px
                    margin-top: 30px
                    width: 933px
                    text-align: right



        .info3
            display: flex
            flex-direction: row

            justify-content: space-between
            align-items: center
            margin-top: 100px

            width: 100%

            .left
                .title
                    margin-top: 0
                    font-family: $montserrat_Header
                    font-size: 22px
                    font-weight: bolder

                .par1
                    font-family: $montserrat_Header
                    font-size: 22px
                    margin-top: 30px
                    width: 932px

@media screen and ( max-width:  1660px)
    .container
        .innerContainer
            width: 1200px
            .info1
                gap: 50px

                .right
                    
                    .title
                        font-size: 35px
                    .par1, .par2
                        font-size: 20px
                        width: 100%

                .left
                    width: 40%
    
            .info2
                gap: 50px

                .right
                    .title
                        font-size: 20px

                    .par1, .par2, .par3
                        width: 100%
                        font-size: 20px

                .left
                    width: 40%

            .info3
                gap: 50px
                .left
                    .title
                        font-size: 20px

                    .par1
                        width: 100%
                        font-size: 20px

                .right
                    width: 40%

@media screen and ( max-width:  1220px)
    .container
        .innerContainer
            width: 900px
            .info2
                .right
                    width: 60%
                    .par1, .par2, .par3


                .left
                    height: 400px
                    object-fit: cover

@media screen and ( max-width:  900px)
    .container
        .innerContainer
            width: 540px

            .path
                width: 350px
                p
                    font-size: 18px
                    
            .title
                font-size: 30px

            .alphabet
                gap: 25px
                justify-content: flex-start
                .block
                    .mainLetter
                        font-size: 19   px
                        margin-bottom: 15px

                    .link
                        font-size: 17px

    

            .info1, .info2, .info3
                width: 100%
                flex-direction: column

            .info1
                .left
                    width: 100%


            .info2
                .left, .right
                    width: 100%
                    align-items: flex-start
                    justify-content: flex-start

                .right
                    .title, .par1, .par2, .par3
                        text-align: left
                        
        
            .info3
                .right
                    width: 100%

@media screen and ( max-width:  540px)
    .container
        .innerContainer
            width: 350px

            .path
                margin-top: 30px

            .alphabet
                justify-content: center

            .info2
                .par3
                    display: none
    